{#
 Template stolen from snippets service home page:
    https://github.com/mozmeao/snippets-service/blob/master/snippets/base/templates/base/home.jinja
 Thanks once again to Giorgos!
-#}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dockerized Responder Demo</title>
    <link rel="shortcut icon" href="{{ api.static_url('img/favicon.png') }}">
    <link rel="stylesheet" href="{{ api.static_url('css/style.css') }}">
</head>
<body>
    <h1>Hello Demo!</h1>
    <p>made with <span id="heart">❤</span> by <a href="https://pmac.io">Paul McLanahan</a></p>
    <p>Have a problem or suggestion? Please <a href="https://github.com/pmac/multi-stage-docker-venv-demo/issues/new">file an issue</a>.</p>
</body>
</html>
